<div class="single-picture" data-ng-controller="singlePictureController">
    <div class="single-picture__wrapper">
        <div class="single-picture__wrapper__item">
            <div class="single-picture__wrapper__item__wrapper">
                <img src="{{ preloaerImgSrc }}" alt="Preloader" id="img_preloader">
                <img src="{{ pic.download_url }}" alt="Selected image" id="main-img" class="hidden">
            </div>  
        </div>
        <a href="/#!/main" class="single-picture__link">BACK</a>
    </div>
    <h1 data-ng-if="err">Error!</h1>
</div>